/*#first-dropzone {
  height: 140px;
}*/

.enclosure {
  width: 100%;
  height: 100%;
}

.item {
  margin: 50px;
  padding: 50px;
  width: 80%;
  }

.button {
  background-color: #3c72ff;
  border: solid;
  border-color: #000;
  color: white;
  padding: 5px 5px;
  margin: 1rem 0 0 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}

.button:hover {
  background-color: #343f55;
}

.store {
  background-color: #f8f8ff;
  border-bottom: 1px solid #000;
}

.dropzone {
  background-color: #909096;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
  height: 100px;
}

.drop-active {
  border-color: #343f55;
  color:#000;
}

.drop-target {
  color:#fff;
  background-color: #343f55;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 1em 0.5em;
  margin: 1rem 0 0 1rem;
  /*float:left;
  font-size: 18px;
  */
  color: #fff;
  background-color: #3c72ff;
  border: solid 2px #000;
  border-radius: 8px;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #dcdcdc;
}

.stick {
  display: inline-block;
  min-width: 40px;
  padding: 1em 0.5em;
  margin: 1rem 0 0 1rem;
  /*float:left;*/
  color: #fff;
  background-color: #22335e;
  border: solid 2px #000;
  border-radius: 8px;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.viewer {
  background-color: #909096;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
  height: 100px;
}
