body {
    margin: 0;
    padding: 0;
  }
  
  #app {
    margin: 30px auto;
    width: 90%;
    border: 1px solid hsl(0, 0%, 75%);
  }

#srql_btn {
    background-color: #1a67b6;
    border: 1px;
    color: white;
    border-color: #b3b3b3;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition: all .2s ease 0s;
}